/*
We created a this custom.css file so you can add customize styles without modifying the bootstrap stylesheet. However, you can use your own stylesheets if you prefer.
*/

.navbar{
  position:absolute;
  top:0;
  right:0;
  background:transparent;
  z-index:1024;
  text-align: right;
}

ul.nav{
  list-style: none;
  display:inline-block;
  padding-left: 0;
}
ul.nav>li{
  list-style: none;
  display:inline;
  padding-left: 0;
}
.dropzone{
  width:200;
  height:200px;
  border-radius: 10px;
  border:solid 2px gray;
  color:gray;
  padding:0;

  text-align:center;
  font-size:14;
  /*overflow: hidden;*/
   cursor: pointer;
}
/*.dropzone>.up{
  font-size:180px;
  top:100px;
  position:relative;
  display:block;
  pointer-events:none;
}*/
